[submodule "tdt4120"]
	path = tdt4120 (Private)
	url = https://github.com/patrikkj/tdt4120.git
	branch = master
[submodule "tdt4145"]
	path = tdt4145
	url = https://github.com/patrikkj/tdt4145.git
	branch = master
[submodule "tdt4140"]
	path = tdt4140
	url = https://github.com/patrikkj/blackbird.git
	branch = master
[submodule "tdt4100"]
	path = tdt4100
	url = https://github.com/patrikkj/tdt4100.git
	branch = master
[submodule "tdt4136"]
	path = tdt4136
	url = https://github.com/patrikkj/tdt4136.git
	branch = master
[submodule "tdt4305"]
	path = tdt4305 (Private)
	url = https://github.com/patrikkj/tdt4305.git
	branch = master
[submodule "tdt4160"]
	path = tdt4160 (Private)
	url = https://github.com/patrikkj/tdt4160.git
	branch = master

[submodule "tfy4125"]
	path = tfy4125
	url = https://github.com/patrikkj/tfy4125.git
	branch = master
[submodule "tdt4300"]
	path = tdt4300 (Private)
	url = https://github.com/patrikkj/tdt4300.git
	branch = master
[submodule "tma4135"]
	path = tma4135
	url = https://github.com/patrikkj/tma4135.git
	branch = master
